<!DOCTYPE html>
<html>
<head>
    <title>Bankston Destination Spotter</title>
    <link rel="stylesheet" type="text/css" href ="public/css/styling.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="public/img/twitch.png">
</head>
<body>

    <header>
        <div class="nav">
            <h2 class="logo">Bankston Destination Spotter</h2>
        </div>
        <div class="main">
            <div class="text">
                <h1>Find Your Dream Location</h1>
                <p>Let us help you find the perfect vacation spot for you and your family!</p>
                <div class="active">
                    <a href="/europe" class="btnone">Europe</a>
                    <a href="/northamerica" class="btnone">North America</a>
                    <a href="/southamerica" class="btnone">South America</a>
                    <a href="/asia" class="btnone">Asia</a>
                </div>
            </div>
        </div>
    </header>
    <hr>

        <footer>
            &copy; 2021, nbankston@oakland.edu, Bankston Vacation Spotter Co.
        </footer>
</body>
</html>