<!DOCTYPE html>
<html>
<head>
    <title>Bankston Destination Spotter</title>
    <link rel="stylesheet" type="text/css" href ="public/css/europe.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="public/img/twitch.png">
</head>
<body>

    <header>
        <div class="nav">
            <h2 class="logo">Europe</h2>
            <a href="/" class="btnone">Return Home</a>
        </div>
        <div class="main">
            <div class="text">
                <h1>Select your desired location within Europe</h1>
                
                <h2 class="logo">Paris, France</h2>
                <img src="public/img/paris.png" alt="Paris" class="center">
                <p>Paris, France's capital, is a major European city and a global center for art, fashion, gastronomy and culture. Its 19th-century cityscape is crisscrossed by wide boulevards and the River Seine. Beyond such landmarks as the Eiffel Tower and the 12th-century, Gothic Notre-Dame cathedral, the city is known for its cafe culture and designer boutiques along the Rue du Faubourg Saint-Honoré.</p>
                <h2 class="logo">Amsterdam, Netherlands</h2>
                <img src="public/img/amsterdam.png" alt="Amsterdam" class="center">
                <p>Amsterdam is the Netherlands’ capital, known for its artistic heritage, elaborate canal system and narrow houses with gabled facades, legacies of the city’s 17th-century Golden Age. Its Museum District houses the Van Gogh Museum, works by Rembrandt and Vermeer at the Rijksmuseum, and modern art at the Stedelijk. Cycling is key to the city’s character, and there are numerous bike paths.</p>
                <h2 class="logo">Rome, Italy</h2>
                <img src="public/img/rome.png" alt="Rome" class="center">
                <p>Rome is the capital city of Italy. It is also the capital of the Lazio region, the centre of the Metropolitan City of Rome, and a special comune named Comune di Roma Capitale.</p>
                <div class="container">
                    <form>
                      <div class="form-group">
                        <p>Please enter your email along with the location(s) you are interested in attending. Our BankstonDestinationSpotter service will automatically send you the cheapest options for reservations! Feel free to write any questions or notes as well, our team will do our best to answer/satisfy them.</p>
                        <textarea id="area" class="form-control status-box" rows="3" placeholder="Enter your email, followed by the location you wish to go to!" required></textarea>
                      </div>
                    </form>
                    <div class="button-group pull-right">
                      <p class="counter">250</p>
                      <a href="#" class="btn btn-primary">Make Reservation!</a>
                    </div>
                    <div class="comments">
                        <p>Below are all reservations previously made within Europe through our service!</p>
                    </div>
                    <ul class="posts">
                    </ul>
                  </div>
                
            </div>
        </div>
    </header>
    <hr>

        <footer>
            &copy; 2021, nbankston@oakland.edu, Bankston Vacation Spotter Co.
        </footer>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="public/js/script.js"></script>
</html>