<!DOCTYPE html>
<html>
<head>
    <title>Bankston Destination Spotter</title>
    <link rel="stylesheet" type="text/css" href ="public/css/southamerica.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="public/img/twitch.png">
</head>
<body>

    <header>
        <div class="nav">
            <h2 class="logo">South America</h2>
            <a href="/" class="btnone">Return Home</a>
        </div>
        <div class="main">
            <div class="text">
                <h1>Select your desired location within South America</h1>
                
                <h2 class="logo">Buenos Aires, Argentina</h2>
                <img src="public/img/buenos.png" alt="Buenos Aires" class="center">
                <p>Buenos Aires is Argentina’s big, cosmopolitan capital city. Its center is the Plaza de Mayo, lined with stately 19th-century buildings including Casa Rosada, the iconic, balconied presidential palace. Other major attractions include Teatro Colón, a grand 1908 opera house with nearly 2,500 seats, and the modern MALBA museum, displaying Latin American art.</p>
                <h2 class="logo">Santiago, Chile</h2>
                <img src="public/img/santiago.png" alt="Santiago" class="center">
                <p>Santiago, Chile’s capital and largest city, sits in a valley surrounded by the snow-capped Andes and the Chilean Coast Range. Plaza de Armas, the grand heart of the city’s old colonial core, is home to 2 neoclassical landmarks: the 1808 Palacio de la Real Audiencia, housing the National History Museum, and the 18th-century Metropolitan Cathedral. La Chascona is the home-turned-museum of poet Pablo Neruda.</p>
                <h2 class="logo">Rio de Janeiro, Brazil</h2>
                <img src="public/img/rio.png" alt="Rio de Janeiro" class="center">
                <p>Rio de Janeiro is a huge seaside city in Brazil, famed for its Copacabana and Ipanema beaches, 38m Christ the Redeemer statue atop Mount Corcovado and for Sugarloaf Mountain, a granite peak with cable cars to its summit. The city is also known for its sprawling favelas (shanty towns). Its raucous Carnaval festival, featuring parade floats, flamboyant costumes and samba dancers, is considered the world’s largest.</p>
                <div class="container">
                    <form>
                      <div class="form-group">
                        <p>Please enter your email along with the location(s) you are interested in attending. Our BankstonDestinationSpotter service will automatically send you the cheapest options for reservations! Feel free to write any questions or notes as well, our team will do our best to answer/satisfy them.</p>
                        <textarea id="area" class="form-control status-box" rows="3" placeholder="Enter your email, followed by the location you wish to go to!" required></textarea>
                      </div>
                    </form>
                    <div class="button-group pull-right">
                      <p class="counter">250</p>
                      <a href="#" class="btn btn-primary">Make Reservation!</a>
                    </div>
                    <div class="comments">
                        <p>Below are all reservations previously made within South America through our service!</p>
                    </div>
                    <ul class="posts">
                    </ul>
                  </div>
                
            </div>
        </div>
    </header>
    <hr>

        <footer>
            &copy; 2021, nbankston@oakland.edu, Bankston Vacation Spotter Co.
        </footer>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="public/js/script.js"></script>
</html>